@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


@font-face {
    font-family: "Raleway";
    src: url(../font/Raleway-Bold.ttf);
    src: url(../font/Raleway-Light.ttf);
    src: url(../font/Raleway-LightItalic.ttf);
}






#Base1{
    background-color: #782221;
    width: 1160px;
    height: 1600px;
    margin: auto;
    border-right: 3px solid black;
    
}
#Base2{
    background-color: white;
    width: 1160px;
    height: 900px;
    margin: auto;
    display: flex;
    
}
#Base3{
    background-color: #782221;
    color: white; 
    height: 900px;
    width: 320px;
    margin-right: 25px;
    padding-top: 10px;

}
#Base4{
    width: 790px;
    height: 700px;
    margin-left: 25px;
    flex-direction: column;
    justify-content: flex-start;
    
}
nav{
    background-color: #2c1d27;
    color: white;
    font-family: "Raleway";
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding-top: 20px;
    margin-top: 100px;
    padding-bottom: 20px;
}
nav a{
    color: white;
}
nav a:hover{
    text-decoration: underline red;
}
#navstyle{
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
}
#navemail{
    padding-top: 15px;
    padding-right: 80px;
    padding-bottom: 15px;
}
h1{
    background-color: #dbc2a4;
    color: black;
    font-family: "Lato", sans-serif;
    width: 260px;
    height: 20px;
    margin-right: 0px;
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
}
h2:hover{
    border-left-width: 5px;
    border-color: #782221;
    border-left-style: solid;
}
h2{
    background-color: #dbc2a4;
    color: black;
    font-family: "Lato", sans-serif;
    margin-right: 20px;
    text-indent: 10px;
}
h3{
    font-family: "Lato", sans-serif;
}
p{
    font-family: "Raleway";
    padding-left: 20px;
    text-indent: 40px;
}
ul{
    font-family: "Raleway";
    padding-left: 20px;
}
article{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    
}
footer{
    color: white;
    font-family: "Raleway";
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
#icons{
    width: 180px;
    height: 50px;
    margin-top: 50px;
    margin-left: 505px;
    display: flex;
    justify-content: space-around;
}
#icons a:hover{
    opacity: 0.5;
}
#icons img{
    width: 50px;
    height: 50px;
    
}
figure{
    padding-top: 50px;
    
}
figure img{
    width: 125px;
    height: 125px;
    margin: auto;
    border-radius: 50%;
    border: 3px solid brown;
    display: flex;
    cursor: zoom-in;
    
    
}
 figure div{
    width: 200px;
    height: 20px;
    color: white;
    margin: auto;
    margin-top: 20px;
    font-family: "Raleway";
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
figcaption{
    width: 125px;
    height: 20px;
    color: white;
    font-family: "Raleway";
    font-size: x-large;
    padding-top: 45px;
    display: flex;
    margin: auto;
    justify-content: space-around;
    
    
}
li{
    margin-left: 20px;
}
